<div class="container">
    <h3>Employee Form</h3>

    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
      <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
        <label class="control-label">First Name</label>
        <input #firstName="ngModel" required type="text" class="form-control" name="firstName"
          [(ngModel)] = 'employee.firstName'>
        <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
          First Name is all like required, and stuff.
        </div>
      </div>

      <div class="form-group" [class.has-error]="lastName.invalid && lastName.touched">
          <label class="control-label">Last Name</label>
          <input #lastName="ngModel" type="text" class="form-control" required name="lastName"
            [(ngModel)]= 'employee.lastName'>
          <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger">
            Last Name is all like required, and stuff.
          </div>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="is-full-time"
            [(ngModel)]="employee.isFullTime"> Full Time Employee
        </label>
      </div>

      <div>
        <label class="control-label">Payment Type</label>
      </div>

      <div class="btn-group btn-group-toggle" ngbRadioGroup name="paymentType" [(ngModel)]="employee.paymentType">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="w2">
          W2
        </label>
        <label ngbButtonLabel class='btn-primary'>
          <input ngbButton type="radio" value="1099">
          1099
        </label>
      </div>

      <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
          <label class="control-label">Primary Language</label>
          <select class="form-control" #primaryLanguage
              name="primary-language"
              (blur)="validatePrimaryLanguage(primaryLanguage.value)"
              (change)="validatePrimaryLanguage(primaryLanguage.value)"
              [(ngModel)]="employee.primaryLanguage">
            <option value="default">Select a Language...</option>
            <option *ngFor="let lang of languages">
              {{lang}}
            </option>
          </select>
      </div>

      <div class="form-group">
        <div>
          <label class="control-label">Date Hired</label>
        </div>
        <ngb-datepicker #dp name="dateHired" [(ngModel)]="employee.dateHired"> </ngb-datepicker>
      </div>

      <button class="btn btn-primary" type="submit"
        [disabled]="form.invalid">Ok</button>
    </form>
    <!--
    Model: {{ employee | json }}
    <br>
    Angular: {{ form.value | json}}-->
</div>
