<div class="container">
    <h3>Employee Form</h3>

    <form #form="ngForm" novalidate>
      <div class="form-group" [class.has-error]="firstName.invalid && firstName.dirty">
        <label class="control-label">First Name</label>
        <input #firstName="ngModel" required type="text" class="form-control" name="firstName"
          [(ngModel)] = 'employee.firstName'>
        <div *ngIf="firstName.invalid && firstName.dirty" class="alert alert-danger">
          First Name is all like required, and stuff.
        </div>
      </div>

      <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" required name="lastName"
            [(ngModel)]= 'employee.lastName'>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="is-full-time"
            [(ngModel)]="employee.isFullTime"> Full Time Employee
        </label>
      </div>

      <label>Payment Type</label>
      <div class="radio">
        <label>
          <input type="radio" name="pay-type" value="w2" checked
            [(ngModel)]="employee.paymentType">
          W2
        </label>
      </div>
      <div class="radio">
          <label>
            <input type="radio" name="pay-type" value="1099"
            [(ngModel)]="employee.paymentType">
            1099
          </label>
      </div>

      <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
          <label class="control-label">Primary Language</label>
          <select class="form-control"
              name="primary-language"
              (blur)="validatePrimaryLanguage($event)"
              [(ngModel)]="employee.primaryLanguage">
            <option value="default">Select a Language...</option>
            <option *ngFor="let lang of languages">
              {{lang}}
            </option>
          </select>
      </div>

      <div class="form-group">
        <label>Date Hired</label>
        <input type="date" class="form-control" name="dateHired" ngModel>
      </div>

      <button class="btn btn-primary" type="submit">Ok</button>
    </form>
    Model: {{ employee | json }}
    <br>
    Angular: {{ form.value | json}}
  </div>
